.tmdb-powered-by {
  background-color: #0d253f;
  color: #90cea1;
}

.tmdb-logo {
  height: 3.3em;
}

.by-me {
  color: white;
}

.by-me:hover {
  text-decoration: none;
  color: blue;
}

.credits-nav-list {
  padding: 0;
  list-style: none;
}