.intro-bg {
  background-color: #b5eafa;
  background-image: linear-gradient(#b5eafa, #b5eafa, #b5eafa, white);
}

.intro-bg>p, .intro-bg>h1, .intro-link {
  color: #10314a;
}

.intro-link:hover {
  color: white;
  text-decoration: underline;
}
